# Development files
renovate.json
Dockerfile
.dockerignore
docker-compose.yml
coverage

# Build and cache directories
node_modules
dist
dist-ssr

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs and temp files
*.log
.DS_Store
*.tgz
knip.report.json

# IDE files
.idea
.vscode

# Misc
.git
*.local
*.md
.aider*
ignore

